<footer class="footer">
  <nav class="footer__menu footer__menu--1">
    <ul class="menu__list--1">
      <li><a class="footer__link" href="https://adalab.es/">Articles</a></li>
      <li>
        <a class="footer__link" href="https://adalab.es/" target="_blank"
          >Books</a
        >
      </li>
      <li>
        <a class="footer__link" href="https://adalab.es/" target="_blank"
          >Events</a
        >
      </li>
      <li>
        <a class="footer__link" href="https://adalab.es/" target="_blank"
          >Reasons</a
        >
      </li>
      <li>
        <a class="footer__link" href="https://adalab.es/" target="_blank"
          >Tips</a
        >
      </li>
    </ul>
  </nav>
  <nav class="footer__menu footer__menu--2">
    <ul class="menu__list--2">
      <li>
        <a class="footer__link" href="https://adalab.es/" target="_blank"
          >Twitter</a
        >
      </li>
      <li>
        <a class="footer__link" href="https://adalab.es/" target="_blank"
          >Instagram</a
        >
      </li>
      <li>
        <a class="footer__link" href="https://adalab.es/" target="_blank"
          >Mastodon.social</a
        >
        <!--REVISAR POR QUÉ PASA ESTO CON LAS ETIQUETAS-->
      </li>
    </ul>
  </nav>

  <div class="footer__copy">
    <small>&copy 2017</small>
    <small>we <span>❤</span> components</small>
  </div>
</footer>
