<footer class="footer">
  <div class="footer__linkToTop">
    <a class="footer__linkToTop--link" href="#pageTop"
      ><img src="../assets/images/ico-arrow.svg"
    /></a>
  </div>

  <nav class="footer__menu footer__menu--1">
    <ul class="footer__list">
      <li>
        <a class="footer__link" href="https://adalab.es/" target="_blank"
          >Articles</a
        >
      </li>
      <li>
        <a class="footer__link" href="https://adalab.es/" target="_blank"
          >Books</a
        >
      </li>
      <li>
        <a class="footer__link" href="https://adalab.es/" target="_blank"
          >Events</a
        >
      </li>
      <li>
        <a class="footer__link" href="https://adalab.es/" target="_blank"
          >Reasons</a
        >
      </li>
      <li>
        <a class="footer__link" href="https://adalab.es/" target="_blank"
          >Tips</a
        >
      </li>
    </ul>
  </nav>
  <nav class="footer__menu footer__menu--2">
    <ul class="footer__list">
      <li>
        <a class="footer__link" href="https://adalab.es/" target="_blank"
          >Twitter</a
        >
      </li>
      <li>
        <a class="footer__link" href="https://adalab.es/" target="_blank"
          >Instagram</a
        >
      </li>
      <li>
        <a class="footer__link" href="https://adalab.es/" target="_blank"
          >Mastodon.social</a
        >
        <!--REVISAR POR QUÉ PASA ESTO CON LAS ETIQUETAS-->
      </li>
    </ul>
  </nav>

  <div class="footer__copy">
    <p><small>&copy 2017</small></p>
    <p>
      <small>we <span class="footer__heart">❤</span> components</small>
    </p>
  </div>
</footer>
