<footer class="footer">
  <!--------  ROUND LINK  -------->
  <div class="footer__linkToTop">
    <a class="footer__linkToTop--link" href="#pageTop"
      ><img src="./assets/images/ico-arrow.svg" alt="Arrow-up icon"
    /></a>
  </div>

  <div class="footer__container">
    <!--------  LINKS MENU 1  -------->
    <nav class="footer__menu">
      <ul class="footer__list">
        <li>
          <a href="https://adalab.es/" target="_blank">Articles</a>
        </li>
        <li>
          <a href="https://adalab.es/" target="_blank">Books</a>
        </li>
        <li>
          <a href="https://adalab.es/" target="_blank">Events</a>
        </li>
        <li>
          <a href="https://adalab.es/" target="_blank">Reasons</a>
        </li>
        <li>
          <a href="https://adalab.es/" target="_blank">Tips</a>
        </li>
      </ul>
    </nav>

    <!--------  LINKS MENU 2  -------->
    <nav class="footer__menu">
      <ul class="footer__list">
        <li>
          <a href="https://adalab.es/" target="_blank">Twitter</a>
        </li>
        <li>
          <a href="https://adalab.es/" target="_blank">Instagram</a>
        </li>
        <li>
          <a href="https://adalab.es/" target="_blank">Mastodon.social</a>
        </li>
      </ul>
    </nav>

    <!--------  COPY  ----------->
    <div class="footer__copy">
      <small>&copy; 2017</small>
      <small>we <span class="footer__copy--heart">❤</span> components</small>
    </div>
  </div>
</footer>
