<header class="hero" id="pageTop">
  <nav class="hero__menu">
    <a class="hero__menu--link" href="https://adalab.es/" target="_blank"
      ><img src="./assets/images/ico-menu.svg" alt="Menu icon" title="Icon"
    /></a>
  </nav>
  <h1 class="hero__title">Anonymous proxy</h1>
  <h2 class="hero__subtitle">In hac habitasse platea dictumst.</h2>
  <div class="hero__arrow">
    <a class="hero__arrow--link" href="#3reasons" title="Go down"
      ><img
        src="./assets/images/ico-scroll-down.svg"
        alt="Arrow-down icon"
        title="Arrow icon"
    /></a>
  </div>
</header>
