<section class="reasonsSection" id="3reasons">
  <h2 class="reasonsSection__title">3 reasons to purchase</h2>

  <div class="wrapper">
    <include src="./partials/reason.html" title="Ut sed metus"></include>
    <include src="./partials/reason.html" title="Curabitur ac erat"></include>
    <include src="./partials/reason.html" title="Morbi dictum"></include>
    <article class="article article--1">
      <h3 class="article__title">Ut sed metus</h3>
      <p class="article__text">Lorem ipsum dolor sit amet, consectetur.</p>
    </article>

    <article class="article article--2">
      <h3 class="article__title">Curabitur ac erat</h3>
      <p class="article__text">Mauris mattis urna quis lorem molestie.</p>
    </article>

    <article class="article article--3">
      <h3 class="article__title">Morbi dictum</h3>
      <p class="article__text">Aliquam in dolor et dolor tincidunt.</p>
    </article>
  </div>

  <a
    class="reasonsSection__link"
    href="https://www.youtube.com/watch?v=YcitTNiIKwY&ab_channel=JABLESPANOL"
    target="_blank"
  >
    <button class="reasonsSection__link--button">More reasons</button>
  </a>
</section>
