<section>
  <h2>3 reasons to purchase</h2>
  <div>
    <article>
      <h3>Ut sed metus</h3>
      <p>Lorem ipsum dolor sit amet, consectetur</p>
    </article>
    <article>
      <h3>Curabitur ac erat</h3>
      <p>Mauris mattis urna quis lorem molestie.</p>
    </article>
    <article>
      <h3>Morbi dictum</h3>
      <p>Aliquam in dolor et dolor tincidunt</p>
    </article>
  </div>
  <div>
    <a href="">More reasons</a>
    <!--Comprobar si sería mejor enlace o botón (ANIMACIÓN)-->
  </div>
  <div>
    <a href=""></a>
  </div>
</section>
