// fonts
$font-main: "Roboto", sans-serif;
$font-title: "Roboto Slab", serif;

// colors
$color-white: #fff;
$color-light: #8ccbea;
$color-primary: #000;
$color-secondary: #4a4a4a;
$color-tertiary: #f26002;
$color-info: #0271bc;
$color-background-primary: #eff9ff;
$color-background-secondary: #304268;
