//se debe maquetar usando flexbox. Todos los textos de la columna "ARTICLES" y todos los textos de la columna "TWITTER" deben ser enlaces a la página de Adalab.

//El botón de flecha del footer debe enlazar al inicio de la página.

.footer {
  background: $color-background-secondary;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 45px;
  color: $color-white;
  line-height: 30px;

  &__linkToTop {
    background: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0, -50%);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 0;

    &--link {
      padding: 5px;
    }
  }

  &__menu {
    margin-top: 30px;
    text-align: center;
  }

  &__list {
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: $color-white;
    text-transform: uppercase;
  }

  // REVISAR ESTE ANIDADO
  &__copy {
    margin-top: 30px;
    text-align: center;
  }
  &__heart {
    color: $color-buttons;
  }
}
