//se debe maquetar usando flexbox. Todos los textos de la columna "ARTICLES" y todos los textos de la columna "TWITTER" deben ser enlaces a la página de Adalab.

//El botón de flecha del footer debe enlazar al inicio de la página.

.footer {
  background: $color-background-secondary;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media all and (min-width: 768px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  &__linkToTop {
    background: $color-white;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0, -50%);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    line-height: 0;

    &--link {
      padding: 5px;
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;
    color: $color-white;
    line-height: 30px;
    @media all and (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: unset;
    }
    @media all and (min-width: 1280px) {
      justify-content: center;
    }
  }

  &__menu {
    margin-top: 30px;
    text-align: center;
    @media all and (min-width: 768px) {
      text-align: left;
    }
    &--1 {
      padding-left: 100px;
      padding-right: 100px;
    }
  }

  &__list {
    list-style: none;
  }

  &__link {
    text-decoration: none;
    color: $color-white;
    text-transform: uppercase;
  }

  // REVISAR ESTE ANIDADO
  &__copy {
    margin-top: 30px;
    text-align: center;
    @media all and (min-width: 768px) {
      text-align: left;
      order: -1;
    }
  }
  &__heart {
    color: $color-buttons;
  }
}
