.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: top;

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 44px;
    height: 44px;
    background: $color-info;
    display: flex;
    align-items: center;
    justify-content: center;
    &--link {
      padding: 10px;
    }
  }

  &__title {
    margin: 0 20% 15px 20%;
    text-align: center;
    color: $color-white;
    font-family: $font-title;
    font-size: 42px;
    text-transform: uppercase;
    @media all and (min-width: 768px) {
      font-size: 80px;
    }
    @media all and (min-width: 1280px) {
      font-size: 100px;
    }
  }

  &__subtitle {
    color: $color-white;
    font-family: $font-main;
    font-weight: normal;
    font-size: 1rem;
    @media all and (min-width: 768px) {
      font-size: 24px;
    }
  }
  &__arrow {
    width: 45px;
    height: 45px;
    margin-top: 32px;
    margin-bottom: 53px;
    background: $color-white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &--link {
      padding: 10px;
      margin-top: 4px;
    }
  }
}
