//los 3 elementos del listado deben estar maquetados con CSS Grid en todos los tamanﾌバs de pantalla.

//En el hover de los botones ("Go" y "3 Reasons To Purchase") se debe incluir una transicioﾌ］ que dejamos a vuestra eleccioﾌ］ (por ejemplo: color, tamanﾌバ, etc.).

.reasonsSection {
  background: $color-background-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 15px 60px 15px;

  &__title {
    text-transform: capitalize;
    font-family: $font-title;
    font-weight: bold;
    //CONSIDER DOWNLOADING BOLD OR LEAVING
    font-size: 24px;
    margin-bottom: 45px;
    @media all and (min-width: 768px) {
      font-size: 26px;
    }
    @media all and (min-width: 1280px) {
      font-size: 32px;
    }
  }
  &__link {
    text-decoration: none;

    &--button {
      width: 184px;
      padding: 10px;
      border: none;
      border-radius: 22.5px;
      background-color: $color-buttons;
      font-family: $font-main;
      color: $color-white;
      font-weight: 500;
      font-size: 20px;
      transition: color ease 1s, background-color ease 1s;
      outline-color: $color-buttons;
      margin-bottom: 20px;

      &:hover {
        color: $color-buttons;
        background-color: transparent;
        cursor: pointer;
      }

      @media all and (min-width: 768px) {
        width: 210px;
      }
      @media all and (min-width: 1280px) {
        width: 255px;
      }
    }
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 45px;
  margin-left: 24%;
  margin-right: 24%;
  margin-bottom: 45px;

  @media all and (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 36px;
    margin-left: 5%;
    margin-right: 5%;
  }
  @media all and (min-width: 1280px) {
    grid-gap: 45px;
    margin-left: 15%;
    margin-right: 15%;
  }
}

.article {
  text-align: center;
  font-size: 18px;
  &__title {
    font-family: $font-title;
    @media all and (min-width: 768px) {
      font-size: 24px;
      padding-bottom: 14px;
    }
  }
  &__text {
    line-height: 30px;
    @media all and (min-width: 768px) {
      font-size: 20px;
      // margin-right: 20px;
      // margin-left: 20px;
    }
  }
}
