//los 3 elementos del listado deben estar maquetados con CSS Grid en todos los tamanﾌバs de pantalla.

//En el hover de los botones ("Go" y "3 Reasons To Purchase") se debe incluir una transicioﾌ］ que dejamos a vuestra eleccioﾌ］ (por ejemplo: color, tamanﾌバ, etc.).

.reasonsSection {
  background: $color-background-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 15px 60px 15px;

  &__title {
    text-transform: capitalize;
    font-family: $font-title;
    font-weight: bold;
    //CONSIDER DOWNLOADING BOLD OR LEAVING
    font-size: 24px;
    margin-bottom: 45px;
  }
  &__button {
    background-color: $color-buttons;
    width: max-content;
    padding: 10px;
    // border: solid 2px $color-buttons;
    border-radius: 22.5px;

    &--link {
      text-decoration: none;
      color: $color-white;
      font-weight: 500;
      font-size: 20px;
      //WHY WHY WHY
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
      padding-bottom: 5px;
      //WHY WHY WHY
    }
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 45px;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 45px;
}

.article {
  text-align: center;
  font-size: 18px;
  &__title {
    font-family: $font-title;
  }
  &__copy {
    line-height: 30px;
  }
}
