//se puede maquetar usando las propiedades de CSS que se deseen

//En el hover de los botones ("Go" y "3 Reasons To Purchase") se debe incluir una transición que dejamos a vuestra elección (por ejemplo: color, tamaño, etc.).

.intro {
  padding: 30px 15px 45px 15px;

  &__heading {
    font-weight: normal;
    color: $color-light;
    font-size: 14px;
  }

  &__title {
    font-family: $font-title;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  &__copy {
    color: $color-secondary;
    font-size: 18px;
    line-height: 30px;
  }

  &__go {
    width: min-content;
    padding: 5px;
    border: solid 2px $color-buttons;
    border-radius: 22.5px;
    margin-top: 30px;
    &--link {
      text-decoration: none;
      font-weight: 500;
      color: $color-buttons;
      //WHY WHY WHY
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 5px;
      padding-bottom: 5px;
      //WHY WHY WHY
    }
  }
}
