@import "core/variables";
@import "core/reset";
// @import 'components/links';
@import "layout/page";
@import "layout/header";
@import "layout/main_intro";
@import "layout/main_reasons";
@import "layout/footer";

// @import 'pages/index';
